$font-base: "Lato", sans-serif;
$font-title: "Sansita Swashed", cursive;
$ligne-navbar: #fdc869;
$btn-discover: #e06756;
$color-text: #181717;
$color-text-delicieux: #9bcea4;
$color-text-gourmand: #e06756;
